# Node deps and local artifacts (but allow .next/standalone in build stage)
node_modules

# Ignore local build output except standalone (we rely on the builder stage to produce .next/standalone)
# Note: we intentionally DO NOT ignore `.next/standalone` if you generate it locally before build.
.next/cache

# Docker / git
Dockerfile
.dockerignore
.git
.gitignore

# IDE
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
